/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main or Global-all-common styling */

html, body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em; /* 1 em in google chrom is 16 px --> mainly used for responsive design */
}

a {
    text-decoration: none; /* Removing the default underline */
    color: #333
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
    padding-bottom: 20px;
}

/* Utility Classes */

.container {
    margin: auto;
    max-width: 800px;
    overflow: auto;
    padding: 0 20px;
}

.clr {
    clear: both;
}

#primary-text-color {
    color: #f7c08a;
}

/* Navbar Styling */

#navbar {
    background: #333;
    color: #fff;
    overflow: auto; /* Comment and see what error it shows up. I don't understand this quite clearly yet */
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
    /* padding-left: 20px; */
}

#navbar ul {
    list-style: none; /* Removing the bullets from the bullet points :v lol */
    float: right;
}

#navbar ul li {
    float: left;
    /* padding: 20px; */
    /* display: block; */
}

/* Since the anchor tag is an inline element, therefore, pading cannot be applied to it */
/* In order to do so, we need to make the anchor tag into a block element */
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, #navbar ul li a.current{
    background: #444;
    color: #f7c08a;
}

/* Showcase Styling */

#showcase-container {
    text-align: center;
    background: #333 url("../img/showcase.jpg") no-repeat center/cover;
    color: #fff;
    margin:auto;
    overflow: hidden;
    height: 600px;
    padding: 15% 0;
}

#showcase-container a {
    /* display: block; */
    background: #333;
    padding: 20px;
    color: #fff;
    font-size: 18px;
}

#showcase-container a:hover {
    background: #444;
    color: #f7c08a;
}

#showcase-container h1{
    font-size: 60px;
}

#showcase-container p{
    font-size: 20px;
    margin: 40px 0;
}

/* Home-Info Styling */

.home-photo, .home-detail {
    width: 50%;
    height: 400px;
}

.home-photo{
    background: #333 url("../img/photo-1.jpg") no-repeat center/cover;
    float: left;
    
}

.home-detail {
    float: right;
    text-align: center;
    padding: 8% 2%;
    background: #333;
    color: #fff;
}

.home-detail a {
    display: inline-block;
    background: #fff;
    color: #333;
    padding: 13px 20px;
    font-size: 18px;
    border-style:double;
    border-color: #333;
    border-width: 5px;
    border-radius:10px;
}

.home-detail a:hover {
    background: #f7c08a;
}

/* Feature Section Styling */

.box{
    float: left;
    width:33.33%;
    text-align: center;
    background: #f7c08a;
    padding: 2% 2%;
}

.box h3 {
    padding-top: 20px;
    padding-bottom: 0;
}

.box.bg-light { 
    background: #fff;
}

/* Footer Styling */

#main-footer {
    text-align: center;
    color: #fff;
    background: #333;
    height: 70px;
}

#main-footer p {
    padding: 20px;
    margin: 0 auto;
}